*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer,
article,
aside,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    font-size: 16px;
    height: 100%;
    color: #000;
    background: #fff;
    font-family: 'PT Sans', Arial, sans-serif;
    line-height: 1.1875;
}

.clearfix {
    clear: both;
}

a {
    color: #3fb130;
    text-decoration: underline;
    font-weight: 700;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 20px;
}

.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.d-mobile {
    display: none;
}

.img-responsive {
    max-width: 100%;
}

.d-center {
    display: block;
    margin: 0 auto 15px;
}

.m-bold {
    font-weight: 700;
}

.m-pink {
    color: #3fb130;
}

.alignleft {
    float: left;
    margin: 0 30px 8px 0;
}

.b-header {
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    background: #fff;
    padding: 18px 0;
    position: relative;
    z-index: 5;
}

.toggle {
    float: right;
    margin: 15px 25px 0 0;
}

.separator {
    margin: 11px 0 0;
    padding: 0;
    border: 0;
    height: 1px;
    background: #d3d3d3;
}

.main-menu {
    text-align: center;
    margin-top: -1px;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: #212121;
    padding: 15px 15px 0;
    border-top: 1px solid transparent;
    margin: 0 7px;
}

.nav-link:hover {
    color: #3fb130
}

.nav-link.current-link {
    border-color: #3fb130;
}

.b-sidebar {
    float: right;
    width: 210px;
}

.inner-aside {
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    margin-top: 30px;
    padding: 30px;
}

.author-img {
    margin-bottom: 10px;
    border-radius: 50%;
}

.m-gray {
    color: #888;
    margin-bottom: 15px;
}

.sidebar-menu {
    margin: 0;
    padding: 0;
}

.sidebar-menu div {
    position: relative;
    margin-bottom: 10px;
    display: block;
    padding-bottom: 5px;
}

.sidebar-menu a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    display: inline;
    position: relative;
    padding-bottom: 5px;

}

.sidebar-menu a:hover {
    color: #3fb130
}

.sidebar-menu div:after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background: #3fb130;
    margin-left: 55px;
    position: absolute;
}

.sidebar-menu a:before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    background: #000;
    top: 8px;
    left: -8px;
}

.b-main {
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    padding: 30px;
    margin-right: 240px;
    position: relative;
    z-index: 1;
}

.breadcrumbs {
    color: #888;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 35px;
}

h1 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: #3fb130;
    box-shadow: 0 10px 20px rgba(63, 177, 48, .5);
    padding: 15px 35px;
    border-radius: 3px;
    margin: 20px 0;
}

.btn:hover {
    box-shadow: 0 5px 20px rgba(63, 177, 48, .5);
}

h2 {
    font-weight: 400;
    font-size: 24px;
    margin: 30px 0;
}

.comment-item {
    margin-bottom: 20px;
}

.comment-item.comment-child {
    margin-left: 80px;
}

.comment-img {
    display: table-cell;
    vertical-align: top;
}

.comment-img img {
    border-radius: 50%;
    margin-right: 10px;
}

.comment-common {
    display: table-cell;
    vertical-align: top;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 20px;
}

.comment-author {
    text-decoration: none;
    margin-bottom: 5px;
    display: inline-block;
}

.comment-text {
  color: rgb(26, 26, 26);
  line-height: 14px;
  font-size: 14px;
  margin: 0px 10px 5px 0px;}

.comment-text img {
  color: rgb(26, 26, 26);
  line-height: 14px;
  font-size: 14px;
  margin: 0px 10px 5px 0px;
}

.comment-date {
    color: #888;
    line-height: 14px;
    font-size: 14px;
    margin: 0px 10px 5px 0px;
}

.reply {
    font-weight: 400;
    text-decoration: none;
}

.reply:hover {
    text-decoration: underline;
}

.b-footer {
    background: #ebebeb;
    font-size: 14px;
    color: #8d8d8d;
    padding: 13px 0;
    z-index: 6;
    position: relative;
}

@media(max-width: 960px) {
    .d-mobile {
        display: block;
    }

    .d-large {
        display: none;
    }

    .b-header {
        padding: 10px 0;
    }

    .logo {
        display: block;
        text-align: left;
        padding-left: 10px;
    }

    .logo img {
        max-width: 222px;
    }

    .container {
        padding: 0;
    }

    .b-main {
        box-shadow: none;
        padding: 30px 10px;
        margin-right: 0;
    }

    .comment-img {
        display: block;
        float: left;
    }

    .comment-img img {
        max-width: 50px;
    }

    .comment-common {
        display: block;
    }

    .comment-author {
        margin: 30px 0 10px;
    }

    .comment-item.comment-child {
        margin-left: 40px;
    }

}

@media(max-width: 400px) {
    .alignleft {
        width: 100%;
        margin-right: 0;
    }
}
